@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --color-n-50: #ffffff;
  --color-n-100: #f1f5f9;
  --color-n-200: #e2e8f1;
  --color-n-300: #cad5e2;
  --color-n-400: #90a2b9;
  --color-n-500: #62748e;
  --color-n-600: #45556c;
  --color-n-700: #324158;
  --color-n-800: #1d283d;
  --color-n-900: #0e172b;
  --color-n-950: #020617;
  --primary: oklch(0.205 0 0);
  --secondary: oklch(0.97 0 0);
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

/* Define font families */
@layer base {
  :root {
    --font-sans:
      var(--font-gt-walsheim), -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, sans-serif;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-geist-mono);
  --color-n-50: var(--color-n-50);
  --color-n-100: var(--color-n-100);
  --color-n-200: var(--color-n-200);
  --color-n-300: var(--color-n-300);
  --color-n-400: var(--color-n-400);
  --color-n-500: var(--color-n-500);
  --color-n-600: var(--color-n-600);
  --color-n-700: var(--color-n-700);
  --color-n-800: var(--color-n-800);
  --color-n-900: var(--color-n-900);
  --color-n-950: var(--color-n-950);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-n-950: #ffffff;
    --color-n-900: #f1f5f9;
    --color-n-800: #e2e8f1;
    --color-n-700: #cad5e2;
    --color-n-600: #90a2b9;
    --color-n-500: #62748e;
    --color-n-400: #45556c;
    --color-n-300: #324158;
    --color-n-200: #1d283d;
    --color-n-100: #0e172b;
    --color-n-50: #020617;

    --primary: var(--color-lime-500);
    --secondary: var(--color-teal-500);
  }
}

.dark {
  --color-n-50: #ffffff;
  --color-n-100: var(--color-n-900);
  --color-n-200: var(--color-n-800);
  --color-n-300: var(--color-n-700);
  --color-n-400: var(--color-n-600);
  --color-n-500: var(--color-n-500);
  --color-n-600: var(--color-n-400);
  --color-n-700: var(--color-n-300);
  --color-n-800: var(--color-n-200);
  --color-n-900: var(--color-n-100);
  --color-n-950: var(--color-n-50);
  --primary: var(--color-lime-500);
  --secondary: var(--color-teal-500);
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.day-item {
  position: relative;
}

.day-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 100%;
  background: black;
  border-radius: 24px;
  opacity: 0;
  z-index: -1;
  transition: 0.3s ease;
}

.day-item.selected::before {
  opacity: 1; /* visible when selected */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

button {
  cursor: pointer;
}

:root {
  color-scheme: light;
}
